---
import BlogPost from '../../layouts/BlogPost.astro'
import { createHighlighter } from 'shiki'
import { getCollection } from 'astro:content'
import { createMarkdown } from 'safe-marked'

export const prerender = true

export async function getStaticPaths() {
  const posts = await getCollection('blogs')

  return posts.map((post) => ({
    params: { blogId: post.id },
    props: post
  }))
}

const post = Astro.props

const highlighter = await createHighlighter({
  themes: ['dark-plus'],
  langs: ['js', 'ts', 'tsx', 'json', 'css', 'astro', 'jsonc']
})


const markdown = createMarkdown({
  marked: {
    onInit(marked) {
      marked.use({
        renderer: {
          code(code, lang, _escaped) {
            return highlighter.codeToHtml(code, {
              lang: lang ?? 'text',
              theme: 'dark-plus'
            })
          }
        }
      })
    }
  }
})

const content = markdown(post.data.content)
---

<BlogPost post={post}>
  <section class="content mt-6" set:html={content}></section>
</BlogPost>
