html {
  @apply bg-neutral-950 text-neutral-300
}

.content {
  @apply flex flex-col;
}

.content > *:first-child {
  @apply mt-0;
}

.content > h2, h3, h4, h5 {
  @apply mt-8
}

.content > :not(h2, h3, h4, h5) {
  @apply mt-4
}

article h1 {
  @apply text-2xl font-medium;
}

article h2 {
  @apply text-xl font-medium border-b border-neutral-500 pb-3;
}

article h3 {
  @apply text-lg;
}

article a {
  @apply text-sm text-indigo-400 underline underline-offset-4 decoration-indigo-400 hover:decoration-indigo-600 decoration-1 mb-1 transition hover:text-indigo-600 ease-in hover:cursor-pointer break-all
}

article img {
  @apply rounded-md
}

article ul {
  @apply list-disc list-inside space-y-1 leading-8
}

article ul > li > ul {
  @apply mt-1 ml-4
}

article ol {
  @apply list-decimal list-inside
}

article pre {
  @apply p-4 rounded-md overflow-x-auto text-sm leading-normal font-monospace
}

article pre > code {
  @apply font-monospace
}
