---
import Default from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Default>
  <section>
    <ul class="space-y-2">
      {
        posts.map((post) => (
          <li>
            <a
              href={`/article/${post.slug}/`}
              class="underline underline-offset-4 decoration-neutral-400 hover:decoration-indigo-600 decoration-1 transition hover:text-indigo-600 ease-in hover:cursor-pointer"
            >
              <FormattedDate date={post.data.pubDate} format='YYMMDD' />{post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Default>
