---
import { getCollection } from 'astro:content'
import isSameOrAfter from 'dayjs/plugin/isSameOrAfter'
import ArticleList from '../components/ArticleList/Index.astro'
import Default from '../layouts/BaseLayout.astro'
import dayjs from '../lib/dayjs'
import { webSiteSchema } from '../lib/schema'

dayjs.extend(isSameOrAfter)

const posts = await getCollection('blogs')

const pinnedPosts = [...posts].filter(p => p.data.isPinned)
const sorted = [...posts].sort((a, b) => dayjs(b.data.publishedAt).diff(a.data.publishedAt))
---

<Default jsonLdSchema={webSiteSchema}>
  <header class="h-64 md:h-90 p-6 rounded-md backdrop-blur-md text-neutral-100 text-shadow-lg overflow-hidden bg-neutral-900" aria-hidden="true">
    <div class="absolute w-full h-full inset-0 -z-10 bg-[url(https://asset2.asayake.dev/thumb/jihanki.webp)] bg-cover bg-bottom"></div>
  </header>
  <section class="mt-6 pb-6 border-b border-neutral-700">
    <ArticleList items={pinnedPosts} />
  </section>
  <section class="mt-6">
    <ArticleList items={sorted} />
  </section>
</Default>
