---
import { SITE_TITLE } from '../consts'
---

<nav class="py-5 flex justify-between">
  <h2 class="text-lg font-main">
    <a
      href="/"
      class="text-neutral-400 decoration-neutral-500/40 underline-offset-4 opacity-75 transition duration-100 ease-in hover:text-neutral-100"
    >
      {SITE_TITLE}
    </a>
  </h2>
  <a
    href="https://portal.snowsphere.net/"
    target="_blank"
    class="text-neutral-400/75 hover:text-neutral-100 transition ease-in duration-100"
  >
    portal (links)
  </a>
</nav>