---
import { SITE_TITLE } from '../consts'
---

<nav class="container max-w-[800px] mx-auto px-4 py-5 flex justify-between">
  <h2 class="text-lg">
    <a
      href="/"
      class="bg-gradient-to-r from-indigo-400 to-teal-600 bg-clip-text text-neutral-400 decoration-neutral-500/40 underline-offset-4 opacity-75 transition duration-500 hover:scale-105 hover:text-transparent hover:opacity-100"
    >
      {SITE_TITLE}
    </a>
  </h2>
  <a
    href="https://portal.snowsphere.net/"
    target="_blank"
    class="text-neutral-400/75 hover:text-neutral-200 transition duration-500"
  >
    portal (links)
  </a>
</nav>