---
import { SITE_TITLE } from '../consts'
---

<nav class="py-5 flex justify-between items-center">
  <h2 class="text-md font-main">
    <a
      href="/"
      class="text-neutral-400 decoration-neutral-500/40 underline-offset-4 opacity-75 transition duration-100 ease-in hover:text-neutral-100"
    >
      {SITE_TITLE}
    </a>
  </h2>
  <div class="flex gap-x-4">
    <a
      href="/rss.xml"
      aria-label="RSS"
      class="text-neutral-400/75 text-2xl hover:text-neutral-100 transition ease-in duration-100"
    >
      <div class="i-mynaui-rss"></div>
    </a>
    <a
      href="https://portal.snowsphere.net/"
      target="_blank"
      aria-label="portal (links)"
      class="text-neutral-400/75 text-2xl hover:text-neutral-100 transition ease-in duration-100"
    >
      <div class="i-mynaui-user-solid"></div>
    </a>
  </div>
</nav>