---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { articleSchema } from '../lib/schema'

type Props = {
  post: CollectionEntry<'blogs'>
}

const { post } = Astro.props as Props
---

<html lang="ja">
  <head>
    <BaseHead title={post.data.title} description={post.data.description} jsonLdSchema={articleSchema(post)} />
  </head>

  <body class="container mx-auto px-6 max-w-[800px] font-main">
    <Header />
    <main>
      <article>
        <header class="min-h-60 p-6 rounded-md backdrop-blur-md text-neutral-100 text-shadow-lg overflow-hidden bg-neutral-900">
          <div class="absolute inset-0 -z-10 bg-[url(https://asset2.asayake.dev/thumb/danchi.webp)] bg-cover transition blur-xs opacity-85"></div>
          <h1 id="article_title" class="tracking-wider text-shadow-lg">{post.data.title}</h1>
          <dl class="mt-4">
            <dt class="">created_at</dt>
            <dd><FormattedDate date={post.data.publishedAt ?? ''} format='YYYY-MM-DD' /></dd>
            <!-- {post.data.updatedAt && (
                <dt class="mt-3">updated_at</dt>
                <dd><FormattedDate date={post.data.oldUpdatedAt ?? post.data.updatedAt} format='YYYY-MM-DD' /></dd>
              )
            } -->
          </dl>
        </header>
        {post.data.isCW ? (
          <details class="group mt-6">
            <summary class="p-6 list-none border border-amber-900 select-none hover:cursor-pointer">この記事にはネガティブな要素が含まれる可能性があります。(クリックして開く)</summary>
            <slot />
          </details>
        ) : (
          <slot />
        )}
      </article>

      <nav class="flex justify-between mt-6 py-4 border-t border-neutral-600 border-dotted" aria-label="記事一覧へ戻る">
        <a
          href="/"
          class="text-neutral-300 underline underline-offset-4 decoration-neutral-400 hover:decoration-rose-500 decoration-1 duration-100 transition hover:text-rose-500 ease-in hover:cursor-pointer"
        >
          Back to list
        </a>
        <a
          href="#article_title"
          class="text-neutral-300 underline underline-offset-4 decoration-neutral-400 hover:decoration-rose-500 decoration-1 duration-100 transition hover:text-rose-500 ease-in hover:cursor-pointer"
        >
          ^
        </a>
      </nav>
    </main>
    <Footer />
  </body>
</html>
